body {
    box-sizing: content-box;
    background: #A9C9FF;
    background: -webkit-linear-gradient(to top, #FFBBEC, #A9C9FF);
    background-image: linear-gradient(to top, #FFBBEC, #A9C9FF);
    background-size: cover;
    background-attachment: fixed;
}